.Pokegame {
    text-align: center;
}
.Pokegame-winner {
    padding-top: 20px;
    color: green;
}
.Pokegame-loser { 
    padding-top: 20px;
    color: red;
}
.Pokegame-exp {
    padding-bottom: 20px;
}