.Pokecard {
    width: 18%;
    display: inline-block;

    text-align: center;
    background-color: #fff;
    box-shadow: 1px 1px 10px #8c8282;
}



.Pokecard-image{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#ededed;
    margin: 6px;
    width: 95%;
    transition: all 0.3s ease-in-out;
}
.Pokecard-image img{
    transition: all 0.3s ease;
}
.Pokecard-image img:hover{
    transform: scale(1.16);
}
