.Pokecard {
    width: 15%;
    display: inline-block;

    text-align: center;
    background-color: #fff;
    box-shadow: 1px 1px 10px #8c8282;
}



.Pokecard-image{
    background-color:#ededed;
    margin: 6px;
    width: 95%;
}
